@import '../../assets/variables';
.primary-button{
    background-color: $primary-color;
    color: #fff;
    padding:10px 20px;
    display: inline-block;
    width: 250px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    box-shadow: 0px 8px 24px rgba(37,164,173,0.14);
    border-radius: 4px;
    margin: 10px 0;
}